<br />
<div class="booyah-horse">
  <h1>New Horse</h1>
  <br />
  <%= simple_form_for @horse do |f| %>
    <%= f.input :name %>
    <%= f.input :owner %>
    <%= f.input :age %>
    <%= f.input :breed %>
   
    <br />
    <%= f.submit 'Submit', class: 'btn-btn-primary' %>
  <% end %>
</div>