<div class="booyah-horse">
  <% if @horse.photo_url %>
    <%= image_tag(@horse.photo_url) %><br />
  <% end %>
  Name: <%= @horse.name %><br />
  Owner: <%= @horse.owner %><br />
  Age: <%= @horse.age %><br />
  Breed: <%= @horse.breed %><br />

</div>

<div class="float-right">
    <% if current_user && current_user == @horse.user %>
      <%= link_to 'Edit', edit_horse_path(@horse), class: 'btn btn-primary' %>
      <%= link_to 'Destroy', horse_path(@horse), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger' %>
    <% end %>    
  </div>