<!DOCTYPE html>
<html>
  <head>
    <title>Stable Buddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Courgette&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Stable Buddy</a>
      <form class="form-inline">
        <a class="nav-item nav-link" href="#">Horses</a>
        <a class="nav-item nav-link" href="#">Schedules</a>
        <a class="nav-item nav-link" href="#">Lists</a>
        <a class="nav-item nav-link" href="#">Sign Up</a>
      </form>
    </nav>




    <%= yield %>
  </body>
</html>
