<!DOCTYPE html>
<html>
  <head>
    <title>Stable Buddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Courgette&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <%= link_to "Stable Buddy", root_path, class: "navbar-brand" %>
      <form class="form-inline">
        <%= link_to "Horses", horses_path, class: "nav-item nav-link" %>
        <a class="nav-item nav-link" href="#">Schedules</a>
        <a class="nav-item nav-link" href="#">Lists</a>
        <ul class="nav-item nav-link">
          <% if user_signed_in? %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          <% else %>
            <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
          <% end %>
        </ul>
      </form>
    </nav>

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>



    <%= yield %>
  </body>
</html>
